.header{
   padding-left: 30px;
   padding-right: 30px;
   background-color: indianred;
   border-top: 5px solid darkred;
   border-bottom: 5px solid darkred;
   a{
      color: #000;
      font-size: 25px;
   }
}
.container{
   width: 1100px;
   margin: 0 auto;
}
.menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu__logo{

   width: 60px;
   height: 60px;
   background-color: #fff;
   border-radius: 50%;
}
.menu__list{
   display: flex;
   li{
      margin-left: 20px;
   }
   &:first_child{
      margin-left: 0;
   }
}
.burger{
   display: none;
}
@media (max-width: 767px) {
   .container{
      width: auto;
   }
   .burger{
      display: block;
      position: absolute;
      right: 30px;
   }
   .menu__list{
      z-index: 10;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.2);
      line-height: 35px;
      flex-direction: column;
      position: fixed;
      right: 0;
      top: -500px;
   }
   ._active{
      z-index: 10;
      position: fixed;
      right: 0;
      top: 100px;
   }
}